/* SECTION NAVBAR FOOTER */
.section--footer {
    background-color: #F5F5F5;
    padding-top: 80px;
}
.section__row--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-radius: 8px;
    padding: 0 24px;
    background-color: #FFF;
}
.section__col--footer {
    flex: 0 1 540px;
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social__share {
    font-size: 32px;
    font-weight: 500;
    text-transform: lowercase;
}
.social__ico-item {
    float: left;
}
.social__ico-facebook {
    margin-right: 8px;
}
