/* SECTION--INSTAGRAM */
.section--instagram {
    margin-bottom: 80px;
}
.section--instagram__head {
    margin-bottom: 32px;
}
.instagram-head {
    font-size: 32px;
    font-weight: 500;
    line-height: 41px;
    text-transform: lowercase;
}

/* instagram */
.instagram {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 540px;

}
.instagram__big {
    flex: 0 1 540px;
    padding-right: 15px;
}
.instagram__small {
    flex: 0 1 540px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

/* btn-instagram */
.instagram-small-hidden {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    display: none;
}
.instagram-small-hidden img {
    margin-bottom: 30px;
}
.btn--instagram {
    display: block;
    text-align: center;
    background-color: #F5F5F5;
}
.section--instagram__footer:hover .instagram-small-hidden  {
    display: flex;
}
