/* SECTION BANNER */
.section--banner {
    background-color: #F5F5F5;
    margin-bottom: 80px;
}

/* banner */
.banner {
    position: relative;
}
.banner__img {
    display: block;
}
.banner__h1 {
    font-size: 72px;
    line-height: 66px;
    max-width: 300px;
    font-weight: 500;
    position: absolute;
    top: 48px;
}

/* banner btn */
.banner__btn-wrap {
    position: absolute;
    bottom: 48px;
    left: 0;
}
.banner__btn-line {
    position: absolute;
    top: 8px;
    left: 50%;
}
.banner__btn{
    float: left;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #FFF;
    cursor: pointer;
}
.banner__btn--left{
    border-radius: 8px 0 0 8px;
}
.banner__btn--right{
    border-radius: 0 8px 8px 0;
}

/* banner arrow */
.banner__arrow {
    float: left;
    padding: 16px 16px;
}
.banner__arrow--left {
    padding-right: 20px;
}
.banner__arrow--right {
    padding-left: 20px;
}
