/* SECTION NAVBAR */
.section__row--navbar {
    display:         flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}
.section__col--navbar {
    flex: 0 1 555px;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
}
.logo__img {
    max-height: 30px;
    margin-right: 18px;
}
.logo__txt {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    text-transform: lowercase;
}

/* call */
.call {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.phone {
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
}
.link-btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    padding: 14px 16px;
    background-color: #FFDF31;
    text-transform: lowercase;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
}
