/* SECTION--MAP */
.section--map {
    margin-bottom: 80px;
}
.section--map__head {
    margin-bottom: 32px;
}
.map-head {
    font-size: 32px;
    font-weight: 500;
    line-height: 41px;
    text-transform: lowercase;
}
