/* navbar section */
.section__row--navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
}
.logo--navbar {
    margin-right: 24px;
}
.logo--footer {
    width: 50%;
    margin-left: 24px;
}
.logo__img {
    margin-right: 16px;
}
.logo__txt {
    font-size: 32px;
    font-weight: 500;
    text-transform: lowercase;
    position: relative;
    top: -3px;
}

/* call */
.call {
    display: flex;
    align-items: center;
}
.phone {
    font-size: 18px;
    font-weight: 500;
    margin-right: 32px;
}

/* Медиазапросы */
@media (max-width: 700px) {
    .section__row--navbar {
        justify-content: space-around;
    }
}