/* banner */
.slider-section {
    background-color: var(--gray);
    margin-bottom: 72px;
}

/* slider */
.slider-container {
    position: relative;
    overflow: hidden;
}
.slider-track {
    display: flex;
    transition: 0.8s;
}
.slider-item {
    max-height: 400px;
}

.banner__title {
    position: absolute;
    top: 48px;
    font-size: 72px;
    line-height: 66px;
    font-weight: 500;
}

/* Кнопки двойные */
.btn {
    display: flex;
    position: absolute;
    bottom: 48px;
    border-radius: 8px;
    background-color: var(--white);
    background-image: url('../design/banner-btn-line.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.btn__item {
    width: 44px;
    height: 44px;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.btn__item:disabled {
    cursor: default;
}
.btn-prev {
    background-image: url('../design/banner-arrow-left.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.btn-next {
    background-image: url('../design/banner-arrow-right.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.btn-prev:disabled {
    background-image: url('../design/banner-arrow-left-gray.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.btn-next:disabled {
    background-image: url('../design/banner-arrow-right-gray.png');
    background-repeat: no-repeat;
    background-position: center center;
}
